<div class="container">
    <div class="signin-panel">
        <h1>Sign In</h1>
        <form [formGroup]="userForm">
            <div><input type="text" placeholder="username"></div>
            <div><input type="password" placeholder="password"></div>
            <div><button (click)="signIn()">sign in</button></div>
        </form>
    </div>
</div>